# git 过滤规则
# /mtk/ 过滤整个文件夹
# *.zip 过滤所有.zip文件
# /mtk/do.c 过滤某个具体文件

# 过滤掉 .git .idea
.git
.idea

# 过滤掉 python 执行时产生的缓存文件
/**/__pycache__/

# 过滤掉 flask_migrate 使用时生成的数据库版本文件
migrations/

# 过滤掉 static 静态文件夹
web/static/*
# 提交默认样式文件/默认插图
!web/static/KR.png
!web/static/main.css