{% extends "base.html" %}

{% block body %}
<div class="row">
    {% for article in articles %}
        <div class="col-sm-6 col-md-4 course">
            <div class="thumbnail">
                <a href="{{ article.url }}" target="_blank">
                <img src="{{ article.image_url }}" alt="课程">
                <div class="caption">
                    <h4 class="course__name">{{ article.name }}</h4>
                    <p class="course__description">{{ article.description }}</p>
                </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
