<!-- 渲染表单的宏, 需要两个参数: 渲染的 form 和提交时请求的 url -->
{% macro render_form(form, url) %}
<form method="POST" enctype="multipart/form-data" action="{{ url }}">
    <!-- 将 csrf_token 渲染在表单开始的位置 -->
    {{ form.csrf_token }}
    <!-- 迭代每个表单 field -->
    {% for field in form %}
        <!-- 如果是 csrf_token 就不再渲染 -->
        {% if field.type == 'CSRFTokenField' %}
            {{ '' }}
        <!-- SubmitField 单独特殊处理 -->
        {% elif field.type == 'SubmitField' %}
            {{ form.submit(class='btn btn-primary', type='submit') }}
        <!-- BooleanField 单独特殊处理 -->
        {% elif field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>{{ field() }} {{ field.label.text }}</label>
            </div>
        {% else %}
            <!-- form 对象的每个 field 都有一个 errors 字段, 当 errors 不为空时, 添加 has-error 类, 输入框将变红 -->
            <div class="form-group {% if field.errors %} has-error {% endif %}" >
                {{ field.label }} {{ field(class='form-control') }}
                <!-- 当 errors 不为空, 遍历显示每一个 error -->
                {% if field.errors %}
                    {% for error in field.errors %}
                        <!-- 根据 Bootstrap 样式错误信息要显示为 help-block 的 span 标签中 -->
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}
